/* global */
* {
 font-family: 'Mulish', sans-serif;
}
/* navbar */
.navbar {
 position: relative;
 z-index: 1;
 font-weight: 500;
}
.navbar-brand {
 font-family: Viga;
 font-size: 32px;
}
/* utility */
.tombol {
 background-color: #3c64b1;
 text-transform: capitalize;
 border-radius: 5px;
 font-weight: 500;
 font-size: 14px;
}
.tombol-profile {
 background-color: transparent;
 border: solid 0.5px #fff;
 text-transform: capitalize;
 border-radius: 5px;
 font-weight: 500;
 font-size: 14px;
}
/* jumbotron */
.jumbotron {
 height: 737px !important;
 text-align: center;
 position: relative;
}
.jumbotron .container {
 z-index: 1;
 position: relative;
}
.jumbotron::after {
 content: '';
 display: block;
 width: 100%;
 height: 100%;
 position: absolute;
 bottom: 0;
 background-image: linear-gradient(180deg, #023e8a 0%, rgba(144, 224, 239, 0) 236.7%);
}
.jumbotron .display-4 {
 color: white;
 text-align: center;
 margin-top: 200px;
 font-weight: 200;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
 font-size: 30px;
}
.jumbotron .header .display-4 {
 color: #ffff;
 margin-top: 110px;
 font-weight: 500;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
 font-size: 68px;
}
.jumbotron p {
 color: #ffff;
 text-align: center;
 font-weight: 200;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

/* profile landingpage */
.clip-video {
 margin-top: 50px;
 padding: 40px 20px 40px 20px;
}
.profile-lp {
 margin-top: 50px;
 padding: 40px 20px 40px 20px;
}

/* rangkaian acara */
#list-rangkaian {
 margin-top: 100px;
}

/* benefits */

#list-benefit {
 margin-top: 40px;
}

/* blog */
#list-blog {
 margin-top: 67px;
}

/* seminar */
.list-seminar {
 padding: 40px;
 margin-top: 67px;
}

/* contact-us */
#contact-us {
 background: linear-gradient(180deg, #023e8a 0%, rgba(255, 255, 255, 0) 197.16%);
 border-radius: 30px;
 color: #fff;
 padding: 50px 0 100px 0;
}
.conhead {
 font-size: 24;
 font-weight: 500;
}

/* footer */
#footer {
 margin-top: 100px;
}
.brand-logo p {
 font-size: 14px;
 font-weight: 200;
 letter-spacing: 0.2px;
}
.footer-link a {
 padding-left: 5px;
}
/* DESKTOP */
@media (min-width: 992px) {
 .navbar-brand,
 .nav-link {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
 }
 .nav-link {
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 14px;
 }
 .nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #fbe192;
  width: 70%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
 }
 .jumbotron {
  margin-top: -75px;
  height: 538px;
 }
 .jumbotron .display-4 {
  font-size: 48px;
  font-weight: 500;
 }
 .conhead {
  font-size: 48px;
  font-weight: 500;
 }
 .footer-link a {
  padding-left: 20px;
 }
}
